# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# File model yang dilatih
*.pkl
*.joblib